# directories
bin/*
include/*
lib/*
screenshots/*
src/assets/sprites/*/*
src/assets/textures/*/*

# dotfiles
.DS_Store
.Python

# editor files
*.sublime-workspace

# pip
pip-selfcheck.json

# misc.
*.zip