<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico" />
    <title>Raycasting.js Level Editor</title>
    <style type="text/css">
      body {
        background-color: #101010;
        text-align: center;
      }
      #canvas {
        border: 5px solid #000000;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <canvas id="canvas" height="600px" width="600px"></canvas>
    <script type="text/javascript" src="/editor/editor.js"></script>
  </body>
</html>
