<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico" />
    <title>RayCast.js | By Emre Akı</title>
    <style type="text/css">
      body {
        background-color: #101010;
        text-align: center;
      }
      #canvas {
        border: 5px solid #000000;
        cursor: pointer;
      }
      #canvas:-webkit-full-screen {
        width: 75vw;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <canvas id="canvas" height="480px" width="640px"></canvas>
    <script type="text/javascript" src="/_game/g_const.js"></script>
    <script type="text/javascript" src="/_data/d_weapon.js"></script>
    <script type="text/javascript" src="/_data/d_player.js"></script>
    <script type="text/javascript" src="/_data/d_map.js"></script>
    <script type="text/javascript" src="/_data/d_asset.js"></script>
    <script type="text/javascript" src="/_game/g_player.js"></script>
    <script type="text/javascript" src="/_game/g_map.js"></script>
    <script type="text/javascript" src="/_game/g_asset.js"></script>
    <script type="text/javascript" src="/_engine/u_math.js"></script>
    <script type="text/javascript" src="/_engine/u_animate.js"></script>
    <script type="text/javascript" src="/_engine/u_assetmanager.js"></script>
    <script type="text/javascript" src="/_engine/i_canvas.js"></script>
    <script type="text/javascript" src="/_engine/r_draw.js"></script>
    <script type="text/javascript" src="/_engine/i_input.js"></script>
    <script type="text/javascript" src="/_engine/m_door.js"></script>
    <script type="text/javascript" src="/_engine/c_collision.js"></script>
    <script type="text/javascript" src="/_engine/r_render.js"></script>
    <script type="text/javascript" src="/_engine/a_player.js"></script>
    <script type="text/javascript" src="/_game/g_drawer.js"></script>
    <script type="text/javascript" src="/_game/g_setup.js"></script>
    <script type="text/javascript" src="/_game/g_run.js"></script>
    <script type="text/javascript" src="/_game/g_main.js"></script>
  </body>
</html>
