<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico" />
    <title>RayCast.js | By Emre Akı</title>
    <style type="text/css">
      body {
        background-color: #101010;
        text-align: center;
      }
      #canvas {
        border: 5px solid #000000;
        cursor: pointer;
      }
      #canvas:-webkit-full-screen {
        width: 75vw;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <canvas id="canvas" height="480px" width="640px"></canvas>
    <script type="text/javascript" src="engine/player.js"></script>
    <script type="text/javascript" src="engine/map.js"></script>
    <script type="text/javascript" src="engine/raycast.js"></script>
  </body>
</html>
